package page

import "likemind/website/widget/notification"

css resizalbeWrapper() {
	height: 300px;
	widht: 1000px;
	min-height: 30px;
	min-width: 30px;
	resize: both;
	overflow: auto;
	max-height: 1000px;
	max-width: 1000px;
	border: solid;
	border-width: 1px;
}

templ DevPage(widgetSelector, mockSelector, widgetToDev templ.Component) {
	<!DOCTYPE html>
	<html>
		<head>
			<link rel="stylesheet" href="/static/css/styles.css"/>
		</head>
		<body class="font-Maple grid grid-flow-row justify-items-left m-8 gap-8">
			<script src="/static/js/htmx.min.js"></script>
			<script src="/static/js/error_handler.js"></script>
			<div>
				@notification.Container()
			</div>
			<div class="flex flex-wrap flex-row gap-8">
				<div>
					@widgetSelector
				</div>
				<div id="mock_selection_wrapper">
					@mockSelector
				</div>
			</div>
			<div id="resizable_wrapper" class={ resizalbeWrapper() }>
				@widgetToDev
			</div>
		</body>
	</html>
}
