package page

import (
	"likemind/website/view"
	"likemind/website/widget/card"
)

templ Search(searchResuls templ.Component) {
	@StandardLayout(view.SearchTab) {
		@card.Container() {
			@card.Card(nil) {
				hello
			}
			@searchResuls
		}
	}
}
