package page

import (
	"likemind/website/view"
	"likemind/website/widget"
	"likemind/website/widget/card"
)

templ Search(interests []view.GroupedInterests, searchResuls templ.Component) {
	@StandardLayout(view.SearchTab) {
		@card.Container() {
			@card.Card(nil) {
				@widget.FromSearch(interests)
			}
			<div
				id="search-results-container"
				class="max-w-3xl mx-auto space-y-8"
			>
				@searchResuls
			</div>
		}
	}
}
