package page

import (
	"likemind/website/view"
	"likemind/website/widget"
)

templ SignUp() {
	@HTML() {
		@Head()
		@Body() {
			@widget.UnauthorizedHeader(view.SignUpTab)
			@Main() {
				@widget.FormSignUp()
			}
			@widget.Footer()
		}
	}
}
