package page

css resizalbeWrapper() {
    height: 300px;
    widht: 1000px;
    min-height: 30px;
    min-width: 30px;
    resize: both;
    overflow: auto;
    max-height: 300px;
    max-width: 1000px;
    border: solid;
}

templ TestPage(widget templ.Component) {
	<!DOCTYPE html>
	<head>
		<link rel="stylesheet" href="static/css/styles.css"/>
	</head>
	<html>
	    <div class={ resizalbeWrapper() }>
			@widget
		</div>
	</html>
}
