package tag

templ Tag(tag string) {
	<span class="bg-pink text-red px-3 py-1 rounded-full text-sm">{ tag }</span>
}

templ Container() {
	<div class="flex flex-wrap gap-2">
		{ children... }
	</div>
}
