package tag

import (
	"likemind/internal/domain"
	"likemind/website/view"
)

templ Interest(interest view.Interest) {
	<p class="bg-pink text-red px-3 py-1 rounded-full text-sm">{ interest.Name }</p>
}

templ Container() {
	<div class="flex flex-wrap gap-2">
		{ children... }
	</div>
}

templ ChangeInterest(interest domain.Interest) {
}
